<configuration>
  <optionSettings>
    <optionSetting>
      <namespace>aws:elasticbeanstalk:application:environment</namespace>
      <optionName>ASPNETCORE_ENVIRONMENT</optionName>
      <value>Production</value>
    </optionSetting>
  </optionSettings>

  <commands>
    <command>
      <name>enable_dotnet</name>
      <command>systemctl restart web.service</command>
    </command>
  </commands>

  <containerCommands>
    <command>
      <name>01_migrate_database</name>
      <command>dotnet ef database update</command>
      <leaderOnly>true</leaderOnly>
    </command>
  </containerCommands>
<file path="/etc/nginx/conf.d/custom.conf">
        <mode>000644</mode>
        <content><![CDATA[
        # Add custom nginx config if needed
        ]]></content>
    </file>
</configuration>